<app-header (toggleSideNavEvent)="toggleSideNav()"></app-header>
<mat-drawer-container class="side-nav__container" [hasBackdrop]="true" (backdropClick)="onBackdropClicked()">
  <mat-drawer
    class="side-nav__drawer"
    [ngClass]="{'desktop-device' : isDesktopDevice}"
    #drawer
    mode="over" [opened]="isSideNaveOpen">
    <mat-list role="list">
      <mat-list-item
        class="side-nav__item"
        role="listitem">
        <a routerLink="list">
          List
        </a>
      </mat-list-item>
      <mat-list-item
        class="side-nav__item"
        role="listitem">
        <a routerLink="map">
          Map
        </a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
