<div class="side-nav__container">
  <div
    *ngIf="!isSideNaveOpen"
    class="side-nav__toggler"
    id="side-nav-toggler"
    (click)="toggleSideNav()"
    matTooltip="{{ 'show_side_menu' | translate }}"
    matTooltipPosition="right">
    <mat-icon class="toggler__icon">navigate_next</mat-icon>
  </div>
  <mat-drawer-container class="side-nav__drawer-container" [hasBackdrop]="true" (backdropClick)="onBackdropClicked()">
    <mat-drawer
      class="side-nav__drawer"
      [ngClass]="{'desktop-device' : isDesktopDevice}"
      #drawer
      mode="over" [opened]="isSideNaveOpen">

      <div class="side-nav__header">
        <h1>
          Carril Bici Palma
        </h1>
        <mat-icon
          id="close-side-menu-btn"
          class="close__btn"
          (click)="toggleSideNav()">
          close
        </mat-icon>
      </div>
      <div class="side-nav__body">
        <div class="side-nav__items-list">
          <mat-list role="list">
            <mat-list-item
              id="bike-stations-map-nav-item"
              class="side-nav__item"
              role="listitem">
              <a routerLink="map">
                {{'map' | translate}}
              </a>
            </mat-list-item>
            <mat-list-item
              id="bike-stations-list-nav-item"
              class="side-nav__item"
              role="listitem">
              <a routerLink="list">
                {{'list_bike_stations' | translate}}
              </a>
            </mat-list-item>
          </mat-list>
        </div>
        <app-language-selector></app-language-selector>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <ng-content></ng-content>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
