<mat-drawer-container
  class="bike__station-info-drawer-container"
  [ngClass]="{
  'open' : !!bikeStation,
  'desktop-device' : isDesktopDevice
  }" (backdropClick)="closeInfoDrawer.emit()">
  <mat-drawer
    class="bike__station-info-drawer"
    mode="over" [opened]="!!bikeStation"

  >
    <div class="drawer__header">
      <h2>
        {{ bikeStation?.name }}
      </h2>
      <mat-icon
        class="drawer__close-btn"
        (click)="closeInfoDrawer.emit()">close
      </mat-icon>
    </div>
    <div class="drawer__body">
      <div class="drawer__address">
        <span class="drawer__address-icon">
          <mat-icon>location_on</mat-icon>
        </span>
        <span> {{bikeStation?.fullAddress}}</span>
      </div>
      <ng-container>

      </ng-container>
      <div
        class="drawer__distance">
        <span class="drawer__distance-icon">
          <mat-icon>near_me</mat-icon>
        </span>

        <span *ngIf="distanceFromDeviceLocationToSelectedBikeStation">
          You are {{distanceFromDeviceLocationToSelectedBikeStation}} Km. away.
        </span>
        <span *ngIf="!distanceFromDeviceLocationToSelectedBikeStation"> We could not detect your location to determine your distance to the station. </span>
      </div>
      <div class="drawer__actions">
        <app-drawer-action-btn
          tooltipText="Route will be open in a new tab"
          label="Bike route"
          (click)="onBikeDirectionsClick()"
        >
          <mat-icon>directions_bike</mat-icon>
        </app-drawer-action-btn>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
