<form [formGroup]="filters">
  <div>
    <mat-form-field>
      <mat-label>Station name or address</mat-label>
      <input
        [formControl]="searchControl"
        type="text"
        matInput
        placeholder="Station name or address"/>
    </mat-form-field>
  </div>
  <div class="filters__form-actions">
    <button
      class="filters__reset-btn"
      mat-raised-button
      color="primary"
      (click)="resetFilters()">
      Reset filters
    </button>
    <button
      *ngIf="!isDesktopDevice"
      class="filters__apply-btn"
      mat-raised-button
      color="primary"
      (click)="applyFilters()">
      Apply filters
    </button>
  </div>
</form>
